.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.7rem;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.col-50,
.col-75 {
    padding: 0 1.6rem;
}

.container7 {
    background-color: #070414;
    padding: .5rem 2.0rem 1.5rem 2.0rem;
    border: .1rem solid lightgrey;
    border-radius: .3rem;
    color: white;
}

.inpu {
    width: 100%;
    margin-bottom: 2.0rem;
    padding: 12px;
    border-radius: .3rem;
    outline: none;
}

label {
    margin-bottom: 1.0rem;
    display: block;
}

.icon-container {
    margin-bottom: 2.0rem;
    padding: .7rem 0;
    font-size: 2.4rem;
}

.btnl {
    background-color: #04AA6D;
    color: white;
    padding: 1.2rem;
    margin: .1rem 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background-color: #45a049;
}

hr {
    border: 1px solid lightgrey;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }

    .rrr {
        margin-top: -6rem;
    }
}