.all{
    display: flex;
    margin-top: 9.5rem;
    justify-content:space-evenly ;
}

.container{
    display: flex;
    justify-content: space-around;
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/summer-background-abstract-background-wallpaper-use-for-presentation_HDDYoJOhMg_thumb.jpg);
    background-repeat: no-repeat;
    background-size: 90.0rem;
    height: 25.0rem;
    width: 32vw;
    margin-top: 1.0rem;
}
.container-texts{
    display: flex;
    flex-direction: column;
    row-gap: 1.0rem;
    margin-top: 5.0rem;
    font-size: 1.7rem;
}
.line{
    text-decoration-line: line-through; 
}
.image-1{
    width: 10vw;
    height: 20vh;
    margin-top: 5.0rem;
    margin-bottom: 2.0rem;
}

@media(max-width:600px){
    .container{
        height: 20.0rem;
        width: 48vw;
        padding: .5rem;
    }
    .image-1{
        width: 15vw;
        height: 20vh;
        margin-top: 1.0rem;
    }
    .container-texts{
        margin-top: 1.3rem;
        font-size: 1.5rem;
    }
    .swiper-container {
        width: 600px;
      }
}

@media(max-width:415px){
    .container{
        height: 15.0rem;
        width: 48vw;
        padding: .5rem;
    }
    .image-1{
        width: 10vw;
        height: 12vh;
        margin-top: 1.0rem;
    }
    .container-texts{
        margin-top: 1.3rem;
        font-size: 1.3rem;
    }
}
@media(max-width:200px){
    .swiper-container {
        width: 200px;
      }
}
